.jumbotron {
    display: none;
}
.carousel-inner {
    padding-bottom: 20px;
}

.panel {
    border: unset;
    border-radius: 0;
}

.panel-heading {
    border-radius: 0;
}

.panel-body {
    background-color: lightgrey;
    overflow: auto;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 1px solid slategray;
}

.table>thead>tr>th {
    border-bottom: 2px solid slategray;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #c59f57;
  }

.form-control {
    background-color: rgb(185, 185, 185);
    border: 1px solid slategray;
}

.form-control:focus {
    border-color: #7a222e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #7a222e;
}

.container .jumbotron {
    border-radius: 0px;
}

#title {
    font-family: 'Alegreya SC', serif;
    color: white;
}

h1 {
    font-size: 65px;
    font-weight: bold;
    padding: 25px;
    text-align: center;
    margin-top: 5px;
    height: 180px;
}

.train-logo {
    text-align: center;
    height: 40px;
    padding: 10px;
    margin-top: 50px;
}

.yellow-strip {
    background-color: #c59f57;
    height: 15px;
}

body {
    background-color: black;
}

.panel-default .panel-heading {
    background-color: #7a222e;
    border-color: #7a222e;
    color:#c59f57;
}

.btn-primary {
    background-color: #7a222e;
    border: unset;
}

.btn-primary:hover {
    background-color: #c59f57;
}

.youtube {
    margin-bottom: 15px;
}

.footer {
    text-align: center;
    color: white;
    padding-bottom: 15px;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:92%;
    height:92%;
}

.bottom-strip {
    margin-bottom: 20px;
}

@media only screen and (max-width: 991x) {
    .video-container iframe, .video-container object, .video-container embed {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
}

@media only screen and (max-width: 600px) {
    .carousel-inner   {
        display: none;
    }

    .right, .carousel-control, .carousel-indicators, .left, .carousel-control {
        display: none;
    }

    .jumbotron {
    display: block;
    background-image: url("../imgs/bgm.jpg");
    background-size: cover;
    background-color: black;
    height: 228px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    }

    h1 {
        font-size: 50px;
        margin-top: 10px;
        margin-bottom: 12px;
    }

    .video-container iframe, .video-container object, .video-container embed {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }

    .youtube {
        text-align: center;
    }
}

/* .container-fluid {
    background-color: black;
} */